.container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(221, 236, 249);
    .myAccount_link{
        color: rgb(75, 5, 75);
        padding: 0 10px;
    }
}